@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Model.Message</p>
    <p>@Model.Summe</p>
    <hr/>
    <p>Serverzeit = <span id="time">...</span></p>
    <p id="nachricht">Nachricht = <span id="message">...</span></p>
    <hr/>
    <form method="get">
        a: <input type="text" size="10" name="a" value="@Model.a"><br/>
        b: <input type="text" size="10" name="b" value="@Model.b"><br/>
        <input type="submit" value="senden">
    </form>
</div>
