<div style="border:1px solid red">
    <h1>Message</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Eveniet deserunt eum quae, libero id quo ad voluptates nemo deleniti recusandae 
        ex totam porro et perspiciatis blanditiis praesentium impedit eligendi? Qui!
    </p>
</div>