@page
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<partial name="MessageBlock" />
<partial name="MessageBlock" />
